[Unit]
Description=GPT API Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/home/cbc/Documents/Projects/Wiki/gpt/api
ExecStart=/usr/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
